#blue {
    background-color: blue;
}

#green {
    background-color: green;
}

#indigo {
    background-color: indigo;
}

#orange {
    background-color: orange;
}

#red {
    background-color: red;
}

#violet {
    background-color: violet;
}

#yellow {
    background-color: yellow;
}